<div *ngIf="(countdown$ | async) as countdown" class="countdown-container">
  <p>Do izbora je ostalo</p>
  <div class="units">
    <div class="unit">
      <span class="value">{{countdown.days}}</span>
      <span class="label">DANA</span>
    </div>
    <div class="unit">
      <span class="value">{{countdown.hours}}</span>
      <span class="label">SATI</span>
    </div>
    <div class="unit">
      <span class="value">{{countdown.minutes}}</span>
      <span class="label">MINUTA</span>
    </div>
    <div class="unit">
      <span class="value">{{countdown.seconds}}</span>
      <span class="label">SEKUNDI</span>
    </div>
  </div>
  <p class="date">11. jun 2020.</p>
</div>
