<div *ngIf="(countdown$ | async) as countdown" class="countdown-container">
  <span class="time-left-label">Рок за пријаву истиче за</span>
  <div class="units">
    <div class="unit">
      <span class="value">{{countdown.days}}</span>
      <span class="label">ДАНА</span>
    </div>
    <div class="unit">
      <span class="value">{{countdown.hours}}</span>
      <span class="label">САТИ</span>
    </div>
    <div class="unit">
      <span class="value">{{countdown.minutes}}</span>
      <span class="label">МИНУТА</span>
    </div>
    <div class="unit">
      <span class="value">{{countdown.seconds}}</span>
      <span class="label">СЕКУНДИ</span>
    </div>
  </div>
  <p class="date">25. мај 2020.</p>
</div>
