.countdown-container
	align-items: center
	display: flex
	flex-direction: column
	justify-content: center
	
	.time-left-label
		margin-top: 16px
	
	.units
		align-items: center
		display: flex
		flex-direction: row
		justify-content: center
	
		.unit
			align-items: center
			display: flex
			flex-direction: column
			justify-content: center
			margin: 10px
		
			.value
				font-size: 24px
				@media (min-width: 330px)
					font-size: 32px
			.label
				font-size: 12px
				
	.date
		font-size: 24px
		@media (min-width: 330px)
			font-size: 32px
		margin: 0