<div class="container">
  <div class="header">
    <div class="headline">
      <img src="assets/grb.svg" class="coat-of-arms">
      <h1>Glasaj iz dijaspore</h1>
    </div>
    <div class="warn-banner">
			<span>
			Imate pravo da glasate. Ako iko pokusa da
			Vas spreci kontaktirajte
        <a href="https://www.rik.parlament.gov.rs/tekst/1330/kontakt.php">Republicku izbornu komisiju</a>
			</span>
    </div>
  </div>

  <router-outlet></router-outlet>

  <div class="footer">
    <p>Sva prava pridrzana, 2020.</p>
  </div>

</div>
