<div class="landing-container">
  <glasanje-countdown></glasanje-countdown>

  <mat-card class="landing-content">

    <p>Овај алат ће Вам помоћи да се пријавите за гласање из иностранства.</p>
    <p>
      Алат ће генерисати документацију потребну за регистрацију. Ваши подаци су безбедни - ниједан лични податак
      неће напустити Ваш уређај.
    </p>

    <p>Биће Вам потребно око 2 минута.</p>
    <p>Припремите Ваш пасош и започните пријаву.</p>

    <button class="start-button" color="primary" mat-flat-button routerLink="/registracija">
      Започни пријаву
    </button>

  </mat-card>
</div>
