<div class="landing-container">
  <glasanje-countdown></glasanje-countdown>

  <p>Ova stranica ce Vam pomoci da se registrujete na birackim mestima organizovanim u Vasoj zemlji prebivalista.</p>
  <p>Aplikacija ce generisati dokumentaciju potrebnu da glasate u inostranstvu. Vasi licni podaci nece napustiti Vas
    internet pretrazivac radi Vase privatnosti i sigurnosti - dokumenti se generisu na Vasem uredjaju.</p>

  <p>Prijava se obavlja u 3 koraka i traje oko 2 minuta.</p>
  <p>Da zapocnete postupak:</p>
  <ol>
    <li>Proverite da li ste upisani u biracki spisak. Ako niste kontaktirajte Ministarstvo inostranih poslova.</li>
    <li>Imajte pasos ili drugu licnu ispravu pri ruci</li>
  </ol>

  <button class="start-button" color="primary" mat-button routerLink="/registracija">Zapocni glasacku registraciju
  </button>
</div>
