.form-container
	display: flex
	flex-direction: column
	height: 100%
	margin: auto
	width: 90%
	@media (min-width: 915px)
		width: 70%

	.action-button
		margin-top: 24px
		button
			margin: 8px

	.register-form
		align-items: center
		margin-top: 24px
		display: flex
		flex-direction: column
		justify-content: center

		mat-form-field
			margin: 12px
			width: 100%
			@media (min-width: 915px)
				width: 80%

	.signature-pad
		border: 1px solid grey !important
		width: 300px

		button
			margin: 16px

	.complete-button
		margin-top: 16px
		
		button
			margin: 0 8px 16px

.country-option
			display: flex
			align-items: center
			img
				margin-right: 8px