<div class="form-container">

  <mat-vertical-stepper linear>

    <mat-step label="Провера бирачког списка" state="check">
      <p>Проверите да ли сте уписани у <a href="https://upit.birackispisak.gov.rs/" target="_blank">бирачки списак</a> и
        вратите се на ову страницу.</p>
      <p>Ако нисте уписани контактирајте Министарство иностраних послова.</p>

      <div class="action-button">
        <button color="primary" mat-flat-button matStepperNext>Настави</button>
      </div>
    </mat-step>

    <mat-step [stepControl]="personalInfoForm" label="Личне информације" state="personal">
      <form [formGroup]="personalInfoForm" class="register-form">

        <mat-form-field appearance="outline">
          <mat-label>Име</mat-label>
          <input formControlName="ime" matInput placeholder="Унесите Ваше име и презиме">
          <mat-hint>Унесите Ваше пуно име као што је у пасошу. На пример: Петар Петровић</mat-hint>
          <mat-error *ngIf="personalInfoForm.get('ime').hasError('required')">
            Молимо Вас, унесите име
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Датум рођења</mat-label>
          <input [matDatepicker]="picker" formControlName="datumRodjenja" matInput
                 placeholder="Унесите Ваш датум рођења">
          <mat-hint>Унесите Ваш датум рођења. Прво изаберите годину</mat-hint>
          <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="personalInfoForm.get('datumRodjenja').hasError('required')">
            Молимо Вас, унесите датум рођења
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Место рођења</mat-label>
          <input formControlName="mestoRodjenja" matInput placeholder="Унесите Ваше место рођења">
          <mat-hint>Унесите Ваше место рођења као што је у пасошу. На пример: Чачак</mat-hint>
          <mat-error *ngIf="personalInfoForm.get('mestoRodjenja').hasError('required')">
            Молимо Вас, унесите место рођења
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Пол</mat-label>
          <mat-select formControlName="pol" placeholder="Изаберите Ваш пол">
            <mat-option value="Мушки">Мушки</mat-option>
            <mat-option value="Женски">Женски</mat-option>
          </mat-select>
          <mat-hint>Изаберите Ваш пол</mat-hint>
          <mat-error *ngIf="personalInfoForm.get('pol').hasError('required')">
            Молимо Вас, изаберите пол
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Име једног од родитеља</mat-label>
          <input formControlName="imeRoditelja" matInput placeholder="Унесите име једног од родитеља">
          <mat-hint>Унесите име једног од родитеља. На пример: Милица</mat-hint>
          <mat-error *ngIf="personalInfoForm.get('imeRoditelja').hasError('required')">
            Молимо Вас, унесите име једног од родитеља
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>ЈМБГ</mat-label>
          <input formControlName="jmbg" matInput placeholder="Унесите Ваш ЈМБГ">
          <mat-hint>Јединствени матични број грађана. Садржи 13 цифара</mat-hint>
          <mat-error *ngIf="personalInfoForm.get('jmbg').hasError('required')">
            Молимо Вас, унесите ЈМБГ
          </mat-error>
          <mat-error *ngIf="personalInfoForm.get('jmbg').hasError('pattern')">
            ЈМБГ може да се састоји само од цифара
          </mat-error>
          <mat-error *ngIf="personalInfoForm.get('jmbg').hasError('minlength')">
            ЈМБГ садржи мање од 13 цифара. Проверите вредност
          </mat-error>
          <mat-error *ngIf="personalInfoForm.get('jmbg').hasError('maxlength')">
            ЈМБГ садржи више од 13 цифара. Проверите вредност
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Адреса пребивалишта</mat-label>
          <input formControlName="adresaPrebivalista" matInput placeholder="Адреса пребивалишта у Србији">
          <mat-hint>Унесите адресу пребивалишта у Србији. На пример: Косовска 1, 11000 Београд</mat-hint>
          <mat-error *ngIf="personalInfoForm.get('adresaPrebivalista').hasError('required')">
            Молимо Вас, унесите адресу пребивалишта
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Адреса пребивалишта за интерно расељена лица</mat-label>
          <input formControlName="adresaPrebivalistaInternoRaseljeni" matInput
                 placeholder="Опционо: Адреса пребивалишта за интерно расељена лица">
          <mat-hint>Унесите ако сте интерно расељено лице. У супротном прескочите.</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Емаил адреса</mat-label>
          <input formControlName="email" matInput placeholder="Емаил адреса">
          <mat-hint>Емаил адреса путем које Вас амбасада може контактирати.</mat-hint>
          <mat-error *ngIf="personalInfoForm.get('email').hasError('required')">
            Молимо Вас, унесите емаил адресу
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Број телефона</mat-label>
          <input formControlName="telefon" matInput placeholder="Број телефона">
          <mat-hint>Број телефона путем којег Вас амбасада може контактирати.</mat-hint>
          <mat-error *ngIf="personalInfoForm.get('telefon').hasError('required')">
            Молимо Вас, унесите број телефона
          </mat-error>
        </mat-form-field>

      </form>

      <div class="action-button">
        <button mat-button matStepperPrevious>Назад</button>
        <button color="primary" mat-flat-button matStepperNext>Настави</button>
      </div>

    </mat-step>

    <mat-step [stepControl]="foreignVotingInfoForm" label="Пребивалиште и гласачко место" state="foreign">
      <form [formGroup]="foreignVotingInfoForm" class="register-form">

        <mat-form-field appearance="outline">
          <mat-label>Број пасоша</mat-label>
          <input formControlName="brojPasosa" matInput placeholder="Унесите број Вашег пасоша">
          <mat-hint>Прва страна пасоша, горњи десни угао</mat-hint>
          <mat-error *ngIf="foreignVotingInfoForm.get('brojPasosa').hasError('required')">
            Молимо Вас, унесите број пасоша
          </mat-error>
          <mat-error *ngIf="foreignVotingInfoForm.get('brojPasosa').hasError('pattern')">
            Број пасоша може да се састоји само од цифара
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Тренутна локација</mat-label>
          <input formControlName="trenutnaLokacija" matInput placeholder="Тренутна локација">
          <mat-hint>Место где се тренутно налазите. На пример: Сан Франциско</mat-hint>
          <mat-error *ngIf="foreignVotingInfoForm.get('trenutnaLokacija').hasError('required')">
            Молимо Вас, унесите тренутну локацију
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Изборно место</mat-label>
          <input [matAutocomplete]="auto" formControlName="izbornoMesto" matInput
                 placeholder="Изаберите Ваше изборно место">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option">
              {{option.labelCyr}}
            </mat-option>
          </mat-autocomplete>
          <mat-hint>Изаберите Ваше изборно место</mat-hint>
          <mat-error *ngIf="foreignVotingInfoForm.get('izbornoMesto').hasError('required')">
            Молимо Вас, изаберите изборно место
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Адреса пребивалишта</mat-label>
          <input formControlName="adresaPrebivalista" matInput placeholder="Адреса пребивалишта у иностранству">
          <mat-hint>Унесите адресу пребивалишта у иностранству. На пример: 15 Happy St, 94040 CA, USA</mat-hint>
          <mat-error *ngIf="foreignVotingInfoForm.get('adresaPrebivalista').hasError('required')">
            Молимо Вас, унесите адресу пребивалишта
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Жељено место гласања</mat-label>
          <input formControlName="zeljenoIzbornoMesto" matInput placeholder="Унесите где бисте желели да гласате">
          <mat-hint>
            Унесите где бисте желели да гласате. Држава је у обавези да размотри локације са преко 100 пријава
          </mat-hint>
        </mat-form-field>

      </form>

      <div class="action-button">
        <button mat-button matStepperPrevious>Назад</button>
        <button color="primary" mat-flat-button matStepperNext>Настави</button>
      </div>

    </mat-step>

    <mat-step label="Провера информација и потпис" state="review">
      <div class="signature-pad">
        <span>Потпишите се у уоквиреном подручју</span>
        <signature-pad (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()" [options]="signaturePadOptions"
                       id="signatureCanvas">
        </signature-pad>
        <button (click)="eraseSignature()" [disabled]="!signatureSet" mat-button>Обриши</button>
      </div>

      <div class="complete-button">
        <button (click)="generateApplication(); formDownloaded=true"
                [disabled]="!signatureSet && personalInfoForm.invalid && foreignVotingInfoForm.invalid" color="primary"
                mat-flat-button>
          <mat-icon>get_app</mat-icon>
          Преузми формулар
        </button>
        <button (click)="sendEmail()" [disabled]="!formDownloaded" color="primary" mat-flat-button>
          Пошаљи пријаву амбасади
        </button>
      </div>

    </mat-step>

    <ng-template matStepperIcon="check">
      <mat-icon>assignment_turned_in</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="personal">
      <mat-icon>perm_identity</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="foreign">
      <mat-icon>public</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="review">
      <mat-icon>thumb_up</mat-icon>
    </ng-template>

  </mat-vertical-stepper>

</div>
